body {
    overflow: hidden;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    width: auto;
    height:7.5%;
    background-attachment: fixed;
    border: 0.5px solid lightgrey;
    overflow: hidden;
}

.navbar a {
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color:black;
}

.navbar a:hover{
    color: #006ED4;
}

.pos1 {
    width: 40%;
    align-items: center;
    font-size: inherit;
    height: 100%;
    float: right;
}

.pos1 div{
    display: inline-block;
    margin : 1em 3em 1em 3em;
}

.active a{
    text-decoration: none;
    color: red;
}


.loginPanel {
    overflow : hidden;
    height : 50%;
    width : 30%;
    padding-bottom: 1em;
    border-radius: 5px;
    border: 0.5px solid lightgrey;
    font-size: inherit;
    position: relative;
    left: 35%;
    right: 35%;
    top : 20%;
    bottom : 25%;

}

.loginPanel input{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    padding-left: 0.5em;
    border: 0.5px solid lightgrey;
    border-radius: 5px;
    display: block;
    width:80%;
    height:13%;
    margin-top: 20px;
    margin-left: 40px;
}

.loginPanel input:focus{
    outline: 1px solid #006ED4;
}

.hoverAction:hover{
    color: #872a2a;
}

#showPwd{
    width:5%;
    margin-left: 15%;
}