/*common style elements for the page-dashboard */
.closeX{
    background-color: #006ED4;;
}

.closeX:hover{
    background-color: red;
}

/***********************************************/

.workspace{
    width: 100%;
    height: 100%;
    overflow:hidden;
    display: flex;
    margin: 0;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    
}

.leftpanel{
    width:15.5%;
    height: 98%;
    background-color: #F5F5F5;
    border: 0.5px solid lightgrey;
    display:flex;
    flex-direction: column;
    padding-top: 2%;
    
}

.middlepanel{
    width:84.5%;
    height: 98%;
    overflow: hidden;
    border: 0.5px solid lightgrey;
    background-color: #F5F5F5;
}

.leftpanel button{
    
    width:90%;
    display: flex;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    
    border: none;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
}

.leftpanel a{
    height: fit-content;
    font-size: medium;
    margin: auto;
}

.present{
    background-color: #006ED4;
    color: black;
}

.hoverAction:hover{
    background-color: #006ED4;
    box-shadow: none;   
}

.pos-profile{
    border-radius: 49%; 
    position: relative;
    left:80%;
}

.pos-button{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: rgb(241, 241, 241);
    position :fixed;
    bottom: 8%;
    right: 6%;
    height: 5%;
    width: 10%;
    z-index: 1;
    border-radius: 0.2em;
    border: 0.5px solid lightgrey;
    background-color: #006ED4;
}

.pos-button:hover{
    background-color:#0079e9;
}

.search-bar{
    width:50%;
    height:5%;
    margin-left: 5%;
    margin-right: 30%;
    margin-top: 1%;
    border-radius: 0.2em;
    border: 0.5px solid lightgrey;
    font-size: medium;
    padding-left: 1em;
}

.search-bar:focus{
    outline: 0.5px solid #729efd;
}

.mailbox{
    margin-left: 5%;
    margin-top: 1%;
    width: 95%;
    height: 100%;
    border: 0.5px solid lightgrey;
    overflow: scroll;
}

.pop-up_mailComposer{
    width:50%;
    height:65%;
    margin:0;
    position : fixed;
    display: none;
    flex-direction: column;
    z-index: 2;
    right:1%;
    top:30%;
    border: 0.5px solid lightgrey;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

.pop-up_mailComposer textarea{
    border: 0.5px solid lightgrey;
    margin: 0;
    resize: none;
    overflow: hidden;
}

.pop-up_mailComposer div{
    border: 0.5px solid lightgrey;
}

.menubar{
    flex-basis: 10%;
    background-color: #0064c1;
    border:none;
    display:flex;
    justify-content: space-between;
}

.from_field{
    flex-basis:7%;
    display: flex;
    color: #757575;
    font-family: 'Roboto', sans-serif;
}

.to_field{
    flex-basis:7%;
    display: flex;
    color: #757575;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
}

.sub_field{
    flex-basis:7%;
    font-size: 1em;
    color:black;
    font-family: 'Roboto', sans-serif;
}

.content{
    flex-basis:63%;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
}

.taskbar{
    flex-basis: 10%;
    background-color: #0064c1;
    padding-top: 0.5em;
    padding-left: 1em;
}

.pop-up_mailComposer textarea:focus{
    outline:none;
}

.input-field{
    margin: 0;
    overflow: hidden;
    border:none;
    font-family: 'Roboto', sans-serif;
    font-size: medium; 
    font-weight: 100;
}

.description-field{
    height:auto;
    width:auto;
    padding-top: 0.5em;
    padding-left: 0.2em;
    margin:0;
}

input:focus{
    outline: none;
}

